#face{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: orange;
}
#mouth{
    height: 80px;
    width: 200px;
    background-color: rgb(128, 17, 17);
    border-radius:0 0 40px 40px ;
    position: absolute;
    top:250px;
    left:111px;
}
#left,
#right{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    left:100px ;
    top:80px;
}
#right{
    left:250px ;
}